body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0;
  background-image: url(../svgs/background.svg);
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

a:hover {
  color: #111;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}


.main-nav{
  list-style: none;
  display: flex;
  width: 100%;
}
.main-nav li {
  display: flex;
  margin: 10px;
  color: #40ADCF;
  transition: color .5s;
  font-weight: bold;
}

.sable{
color:#B97F5B;
}
 #corgi .body{
  fill:currentColor;
}
.fawn{
  color:#E9AA82;
}
.red{
  color:#834B29;
}

/*

Hear Icon Styles

 */
#heart .heart-color{
  fill:currentColor;
}
#heart{
  transform:scale(.60) translate(20px);
}
.heart-div{
  display: flex;
  transition:.5s;
  color: #40ADCF;
}
.heart-div:hover{
  color:#F3C6A8;
  transform:scale(1.1);
 }
.heart-div:hover li{
  color:#F3C6A8;
}

/*

Visit icon Styles

*/
.visit-div{
  display: flex;
  transition:.5s;
  color: #40ADCF;
}
.visit-div:hover{
  color:#F3C6A8;
  transform:scale(1.1);
}
.visit-div:hover li{
  color:#F3C6A8;
}
#visit{
  transform: scale(.60) translate(20px);
}
#visit .visit-color{
  fill:currentColor;
}


/*

Contact Icon Styles

*/

.contact-div{
  display: flex;
  transition: .5s;
  color: #40ADCF;
}
.contact-div:hover{
  color:#F3C6A8;
  transform:scale(1.1);
}
.contact-div:hover li{
  color:#F3C6A8;
}
#contact{
  transform: scale(.60) translate(20px);
}
#contact .contact-color{
  fill:currentColor;
}

.logo{display:none;}
.small-logo{
  display: block;
}


/* Media Query */

@media (min-width:426px){

  .logo{
    display: inline-block;
    width: 140px;
    height: 120px;
    transition: .5s cubic-bezier(0,1.1,.99,1.61);
  }
  .logo:hover{
    transform: rotate(15deg) scale(1.1);
  }
  .small-logo{
    display: none;
  }
}
